@model TaskTranning.ViewModels.EditStoreViewModel
@using TaskTranning.Resources
@inject ResourcesServices Localizer

@{
    ViewBag.Title = Localizer.GetLocalizedHtmlString("t_edit");
    Layout = "_NavbarDataTable";
}
<div class="formbody">
    <h1>@Localizer.GetLocalizedHtmlString("t_edit")</h1>
    <div id="form">
        @if (ViewData["errorMessage"] != null)
        {
            <h5 class="text-danger text-center">@ViewData["errorMessage"]</h5>
        }
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Email">@Localizer.GetLocalizedHtmlString("lbl_email") * :</label>
                <input asp-for="Email" type="email" class="form-control" hidden=""/>
                <h5>@Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</h5>
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreName">@Localizer.GetLocalizedHtmlString("lbl_storeName") * :</label>
                <input asp-for="StoreName" type="text" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("pld_storeName")/>
                <span asp-validation-for="StoreName" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone">@Localizer.GetLocalizedHtmlString("lbl_phone") * :</label>
                <input asp-for="Phone" type="number" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("pld_phone")/>
                <span asp-validation-for="Phone" class="form-text text-danger"></span>
            </div>
    
            <div class="form-group">
                <label asp-for="Street">@Localizer.GetLocalizedHtmlString("lbl_street") * :</label>
                <input asp-for="Street" type="text" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("pld_street")/>
                <span asp-validation-for="Street" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City">@Localizer.GetLocalizedHtmlString("lbl_city") * :</label>
                <input asp-for="City" type="text" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("pld_city")/>
                <span asp-validation-for="City" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State">@Localizer.GetLocalizedHtmlString("lbl_state"):</label>
                <input asp-for="State" type="text" class="form-control"/>
                <span asp-validation-for="State" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode">@Localizer.GetLocalizedHtmlString("lbl_zipCode") * :</label>
                <input asp-for="ZipCode" type="text" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("pld_zipCode")/>
                <span asp-validation-for="ZipCode" class="form-text text-danger"></span>
            </div>
    
    
            <div class="container">
                <div class="row button">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">@Localizer.GetLocalizedHtmlString("btn_edit")</button>
                    </div>
                </div>
            </div>
    
        </form>
        <div class="list-group link">
            <a class="text-primary" asp-action="Index">@Localizer.GetLocalizedHtmlString("a_back")</a>
        </div>
    </div>
</div>
